.login-options{
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .Button{
    text-decoration: none;
    color: #8590A6;
  }
  .Login-switchType.Button{
    color: #175199;
    &:hover{
      color: #8590A6;
    }
  }
}
.login-button{
  display: inline-block;
  width: 100%;
  margin: 18px 0;
  background: #06f;
  text-align: center;
  line-height: 36px;
  height: 36px;
  color: #fff;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
