@import "../../css/theme";
.password-login{
  .decorator-input,.decorator-input.news-input{
    display: inline-block;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #eee;
    color: $c_color;
    .ant-input-group-addon{
      border: none;
      background-color: transparent;
      .ant-select-selection-item{
        color: $c_color;
        text-align: left;
      }
    }
  }
  .news_area{
    position: relative;
    color: $c_color;
    .decorator-input.news-input{
      box-sizing: border-box;
      padding-right: 100px;
      display: inline-block;
      height: 43px;
      line-height: 43px;
      border-bottom: 1px solid #eee;
    }
    span{
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
  .login-options{
    margin-top: 12px;
    display: inline-block;
    a{
      float: right;
    }
  }
}

